node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.git
.gitignore
.turbo
**/.turbo
dist
**/dist
coverage
**/coverage
target
**/target
.agents
docs
tmp
**/*.key
**/*.pem
**/*.log
**/*.tsbuildinfo
**/.env
**/.env.*
!**/.env.example
.tmp